@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    background-color: black;
    font-family: "Space Mono", monospace;
    font-weight: 100;
    font-style: normal;
    font-optical-sizing: auto;
    text-align: left;
}

h1{
    color: white;
    text-align: left;
    font-size: 14px;
    font-weight: 100;
    font-style: normal;
}

p{
    color: white;
    text-align: left;
    font-size: 14px;
    font-weight: 100;
    font-style: normal;
}

a{
    color: white;
}

h2{
    color: rgb(182, 55, 55);
    text-align: center;
    font-size: 14px;
    font-weight: 100;
    font-style: normal;
}
